@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}
